body {
  padding: 50px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  height: 100px;
}

h1 {
  font-weight: 600;
  color: #f06428;
}

a {
  color: #1482c2;
  text-decoration: none;
}
