<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
  </head>
  <body>
    <div>
      Dear user, are getting this email because you have been invited to join.
      {{school_name}}. <br />
      Visit https://nextfutureschool.com or Download Application from app store
      just click here({app-link}) and use this invitation to create your
      account. <br />
      Do remember this code has been created exclusively for you. It can only be
      used once and is non-transferable. If you are not the intended recipient
      or you do not want to accept this invite, please ignore the mail. If you
      did not create an account, then ignore this email.
    </div>
    <br />
    <div>Regards,<br />Team NFS</div>
    {{footer}}
  </body>
</html>
